black==25.1.0
boolean.py==4.0
CacheControl==0.14.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
coverage==7.7.1
cyclonedx-python-lib==8.9.0
defusedxml==0.7.1
filelock==3.18.0
flake8==7.1.2
idna==3.10
iniconfig==2.1.0
isort==6.0.1
license-expression==30.4.1
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
msgpack==1.1.0
mypy-extensions==1.0.0
packageurl-python==0.16.0
packaging==24.2
pathspec==0.12.1
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.8.0
platformdirs==4.3.7
pluggy==1.5.0
py-serializable==1.1.2
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.19.1
pyparsing==3.2.1
pytest==8.3.5
pytest-cov==6.0.0
requests==2.32.3
rich==13.9.4
setuptools==77.0.3
sortedcontainers==2.4.0
toml==0.10.2
urllib3==2.3.0
